@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    scroll-behavior: smooth;
}

:root{
    --text-s:.8rem;
    --text:1rem;
    --text-m:1.2rem;
    --text-l:1.5rem;
    --text-xl:2.5rem;
}

.text-s{
    font-size: .8rem;
}
.text{
    font-size: 1rem;
}
.text-m{
    font-size: 1.2rem;
}
.text-l{
    font-size: 1.5rem;
}
.text-xl{
    font-size: 2.5rem;
}

body{
    min-height: 100vh;
    background-image:url(img/bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo{
    color: #fff;
    text-decoration:none;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

header ul li a:hover,
header ul li a.active
{
    background-color: #fff;
    color: #1A0066;
}

section#hero{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section#hero img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section#hero img#moon,
section#hero img#moonmobile{
    mix-blend-mode: screen;
}
section#hero img#stars,
section#hero img#starsmobile{
    mix-blend-mode: screen;
    opacity: .8;
}
#starsmobile{
    z-index: -10;
    display: none;
    
}

#title{
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    z-index: 9;
}

#hero a{
    text-decoration: none;
    padding: 8px 24px;
    background-color: #fff;
    color: #1A0066;
    font-size: 1.4em;
    transform: translateY(100px);
    z-index: 999;
}

#hero a:hover{
    background-image: linear-gradient(45deg, #44C6E7, #5773ff);
    color:#fff;
    cursor: pointer;
}


#elverso{
    position: relative;
    background-color: #110223;
    padding: 2rem;   
}

#elverso h2{
    color: #fff;
    font-size: 4em;
    letter-spacing: 2px;
}

#elverso img{
    overflow: hidden;
}

#elverso p{
    color: #fff;
    letter-spacing: 2px;
}

#astronauta{
    background-color: #110223;
    height: 100vh;
}

#astronauta h2{
    color: #fff;
    margin-top: 2rem;
}

.astronauta{
    animation: movimiento 3s linear infinite;
}

#behind{
    animation: movimiento_2 4s linear infinite;
}

#behindmobile{
    animation: movimiento_2 4s linear infinite;
}

/*backgrounds hero*/
#starsmobile, #moonmobile, #behindmobile, #frontmobile {
    display: none !important;
}

.salto-mobile{
    display: none;
}

@keyframes movimiento_2{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0);
    }
}


@media (max-width: 450px) {

    #starsmobile, #moonmobile, #behindmobile, #frontmobile{
        display: block !important;;
    }

    #stars, #moon, #behind, #front{
        display: none !important;;
    }

    #title{
        font-size: 2.5rem;
        margin-top: -3rem;
    }
    #elverso{
        padding:2rem;
    }
    #elverso h2{
        font-size: 2.5rem;
    }
    #elverso img{
        width: 300px;
    }
    header{
        width: 100vw;
        padding: 2rem;
    }
    .bajada{
        font-size: var(--text);
    }
    .salto-mobile{
        display: block;
    }
    #btn-hero{
        margin-top: 3rem;
    }
    section#hero img#behindmobile{
        top: -7rem;
    }

}

/* ESTILOS NAV MOBILE*/

.menu{
    display: none;
}

.header-nav a{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}
.header-nav a:hover{
    color: #fff;
    background-image: linear-gradient(45deg, #44C6E7, #5773ff);
}

.header-nav .overlay{
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    background-image: url(img/bg-mobile.png);
    overflow: hidden;
    transition: all 0.3s ease 0s;
    z-index: 100000;
}

.header-nav .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-nav .overlay a{
    padding: 15px;
    font-size: 2em;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 600;
    color: #f1f1f1;
	text-align: center;
}

.header-nav .overlay a:hover, 
.header-nav .overlay a:focus{
    color: #000;
}

.header-nav .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 3em;
}





@media screen and (max-width: 900px) {

    .header-nav .navbar{
        display: none;
    }
    .menu{
        display: block;
    }
    .btnt-skvio{
        display: none;
    }
    .header-nav .logomobile{
        display: block;
    }
}

@media screen and (max-width: 600px) {

    .body{
        font-size: 10px;
    }
}

@media screen and (max-width: 390px) {
    

}